#=====[ Standard ]=====
*.pyc
*.pkl
*.npy
*~

#=====[ Data ]=====
data/db/*
models/localization/*
models/pinpointing/*
models/vanilla/*

#=====[ cs231n ]=====
convcube/cs231n/build
convcube/cs231n/*.c
convcube/cs231n/datasets/*
!convcube/cs231n/datasets/*.sh

#=====[ Build ]=====
build
dist
*.egg-info

